.App{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(orange,green,blue);
  height: 100vh;
  overflow:auto;
}
.text-right a:hover {
  text-decoration: none;
}
form{
  min-width: 360px;
}